<%= render 'welcome/header' %>
<h1 class="center">New Dataset</h1>


	<div class="center container">

		<p>
			Select file to create data set, must be CSV.
		</p>


			<form action='' method='POST' enctype='multipart/form-data'>
				<div class="row ">
					<input type='file' name='userFile' class='fileSelect' value="Choose File">
				</div>
				<div class="row">
					<input type="text" name="Dataset Name" placeholder="Dataset Name" class='datasetname col-xs-offset-4 blockDisplay'>
				</div>
			    <div class="row">
			    	<input type='button' name='upload_btn' value='Upload' class = 'uploadButton col-xs-offset-4 btn btn-info blockDisplay'>
			    </div>
		    	
			</form>

		<script type="text/javascript">
			$(".submitbutton").click(function(){
			  AddData.createDataSet();
			});
		</script>
	</div>

	<div class="variableSelectors container">
		<div class="row">
			<div class="col-md-4 hidden" id="varLabel"><p>Variables</p></div>
  			<div class="col-md-8 hidden" id="opLabel"><p>Options</p></div>
		</div>

		<div class="varrow">
	      	<div class="col-md-4">
	      		<p class="variable">Variable</p>
	      	</div>
			<div class="col-md-4">
				<p class="noTop">What type of data is in this column?</p>
				<fieldset>
					<select name="classification" id="classification">
						<option selected="selected">Variable</option>
						<option>Location</option>
						<option>Weight</option>
					</select>
				</fieldset>
			</div>
			<div class="col-md-4">
				<span class="extras variableExtras">
					<p class="noTop">What are the special null values for this variable? (Leave blank if none)</p>
					<input type="text" name="null value" value="" class='noTop'>
				</span>
				<span class="extras locExtras">
					<p class="noTop">What kind of location data is this?</p>
					<fieldset>
						<select name="locSelect" class="locSelect">
							<option selected="selected">not location data</option>
							<option>countyfull</option>
							<option>countypartial</option>
							<option>state</option>
						</select>
					</fieldset>
				</span>
				<br>
				<br><br>
			</div>

      	</div>
    	<%= javascript_include_tag "adddata.js"%>

	</div>

