<%= render 'welcome/header' %>
<h1>New Dataset</h1>



<%= link_to 'Back', datasets_path %>

	<div>
		<p>
			Select file to create data set (put some instruction here about the file)
		<p>
		<form action='' method='POST' enctype='multipart/form-data'>
			<input type="text" name="Dataset Name" value="name" class='datasetname'>
	    	<input type='file' name='userFile' class='fileSelect'><br>
	    	<input type='button' name='upload_btn' value='upload' class = 'uploadbutton'>
		</form>
		<script type="text/javascript">
			$(".submitbutton").click(function(){
			  AddData.createDataSet();
			});
		</script>
		
		

	</div>

	<div class="variableSelectors container">
		<div class="row">
			<div class="col-md-4"><p>Variables</p></div>
  			<div class="col-md-8"><p>Options</p></div>
		</div>

		<div class="varrow">
	      	<div class="col-md-4">
	      		<p class="variable">Variable</p>
	      	</div>
			<div class="col-md-4">

				<!-- <form action="#"> -->
 
				<fieldset>
					<select name="classification" id="classification">
						<option selected="selected">Variable</option>
						<option>Location</option>
						<option>Weight</option>
					</select>
				</fieldset>
			</div>
			<div class="col-md-4">
				<span class="extras variableExtras">
					<fieldset>
						<select name="nullSelect" id="nullSelect">
							<option selected="selected">Not Null</option>
							<option>Null</option>
						</select>
					</fieldset>
				</span>
				<span class="extras locExtras">
					<fieldset>
						<select name="locSelect" id="locSelect">
							<option selected="selected">countyfull</option>
							<option>countypartial</option>
							<option>state</option>
						</select>
					</fieldset>
				</span>
			</div>
      	</div>
    	<%= javascript_include_tag "adddata.js"%>

	</div>

