<h1>New Dataset</h1>



<%= link_to 'Back', datasets_path %>

	<div>
		<p>
			Select file to create data set (put some instruction here about the file)
		<p>
		<form action='' method='POST' enctype='multipart/form-data'>
			<input type="text" name="Dataset Name" value="name" class='datasetname'>
	    	<input type='file' name='userFile' class='fileSelect'><br>
	    	<input type='submit' name='upload_btn' value='upload'>
		</form>
		<%= javascript_include_tag "adddata.js"%>

	</div>

	<div class="variableSelectors container">
		<div class="row">
			<p>"hi"</p>
		</div>

	</div>