<h1>Welcome#index</h1>
June make this look cool pls!
<p>Find me in app/views/welcome/index.html.erb</p>
<meta charset="utf-8">
<title>Non-Contiguous Cartogram</title>

<head>
<link rel="stylesheet" type"text/css" href="styles/mapstyle.css">

<script src="scripts/jquery.min.js"></script>
<script src="scripts/d3.min.js"></script>
<script src="scripts/topojson.min.js"></script>
<script type="text/javascript" src="scripts/makemap.js"></script>
<script type="text/javascript">
  $(function() 
  {
    Mapper.start();
  });
</script>
</head>