/*Below is stuff for overwriting bootstrap*/

.center {
	text-align: center;
}

.list-inline {
	margin-left: 0px;
}

.navbar-right {
	margin-right: 20px;
}

.navbar-text {
	margin-right: 20px;
}

.container{
	padding: 0;
	/*margin: 0;*/
}

input[type="range"] {
	width: 33.3%;
	display: block;
}

.navbar-header {
	float: none;
}

.navbar-link a{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.7em;
	color: #000;
	padding-top: 20px;
	text-decoration: none;
}

body {
	background-image: image-url('congruent_outline.png');
}

/*.row {
	margin-left: 0px;
	margin-right: 0px;
}*/

/*end of bootstrap fixes*/

p {
    color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  color: #aaa;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}


#canvas {
	background-color: #ccc;
    float: left;
    min-height: 500px;
    border-right: thick solid #000;

}

#barcanvas {
	background-color: #8EA86C;
	min-height: 250px;
	border-bottom: thick solid #000;

}

#scattercanvas {
	background-color: #4D642D;
	min-height: 250px;

}


[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.hidden{
	visibility: hidden;
}

.blockDisplay {
	margin-top: 25px;
	width: 33.3%;
	display: block;
}

.secondDisplay {
	max-width: 15%;
}

.titleText {
	text-align: center;
	color: #aaa;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

li {
	color: #aaa;
}

#addCustomBtn {
	color:#000;
}

#inText {
	text-align: center;
}

#shareButton {
	color: #aaa;
	float: right;
}

.titleCol{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.titleColText {
	margin-top: 15px;
	margin-bottom: 10px;
	color: #aaa;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	padding: 0px;
}

.ui-autocomplete { 
	max-height: 150px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}

.titleInput {
	height: 3em;
	padding-left: 10px;
}

#idSubmit {
	width: 100px;
	height: 3em;
}

#leftContainer{
	text-align: left;
}

div ul li{
	text-align: center;
	list-style-type: none;
}

.deleteDataset {
	color: #fff;
	padding: 10px;
}

.background {
  fill: none;
  pointer-events: all;
}

