// Place all the styles related to the user_input_data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.fileSelect {
	padding-top: 20px;
	margin: 0 auto;
	width: 88px;

}

input.datasetname {
	width: 33.3%;
	height: 50px;
	margin-top: 20px;
	display: block;
	margin-bottom: 0px;	
}

p {
	margin-top: 20px;
}

.uploadButton {
	margin-top: 25px;
	height: 50px;
}

.noTop {
	margin-top: 0px;
}

.locSelect {
	margin-bottom: 20px;
}


