// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #AAA;

h2 {
	color: $primary-color;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.centerContainer{
	text-align: center;
}

.signLabel {
	font-size: 1.2em;
	color: $primary-color;
}

.signLabel {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.rightContainer {
	text-align: right;
}

.leftContainer{
	text-align: left;
}

input{
	margin-bottom: 20px;
}

a {
	color: #aaa;
}

a:hover {
	background-color: transparent;
	color: #000;
}

a:visited {
	color: #aaa;
}

a:visited:hover {
	color: #000;
}